// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-cont {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.board-create-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #525252;
    border-style: outset;
    // width: 30%;
    width: 250px;
    height: 110px;
    border-radius: 7px;
    margin-top: 20px;
    padding-bottom: 6px;
    // position: fixed;
    // top: 115.5px;
    // left: 570px;
    // margin: 0 auto;
    // position: fixed;
    // top: 60px; //! use 60px;
    // left: 35%;
}

.board-create-form:hover {
    background: #bababa;
    border-style: inset;
}

.board-create-title {
    color: #fff;
}

.board-create-input {
    text-align: center;
    font-size: 15px;
    height: 30px;
}

.personal-board-title{
    margin-top: 20px;
}

.others-board-title {
    margin-top: 20px;
}

.personal-board-cont{
    display: flex;
    flex-wrap: wrap;
    // border: 1px black solid;
}

.indiv-board-btn-cont {
    padding: 5px 10px;
}

.indiv-board-btn-cont li {
    margin-top: 10px;
}

.others-board-cont {
    display: flex;
    flex-wrap: wrap;
}

.indiv-board-cont {
    border: 1px black solid;
    margin-right: 20px;
    margin-top: 20px;
    width: 250px;
    height: 110px;
    border-radius: 5px;
}

.indiv-board {
    padding: 5px 10px;
}