// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-container {
    padding-left: 5px;
    margin-right: 15px;
    margin-top: 15px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    border-style: outset;
    color: black;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.card-form-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    margin-top: 15px;
    background: #fff;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    border-style: outset;
    // padding-top: 5px;
}

.card-form {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
}

.card-form-input {
    font-size: 15px;
    padding-left: 5px;
    height: 30px;
}

.card-form-btn {
    margin-top: 7px;
    width: 35%;
}

.card-edit-container{
    margin-top: 35px;
    // border: 1px red solid;
}

.card-edit-form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 820px;
    justify-content: center;
    border: black 1px solid;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.card-edit-name {
    margin-bottom: 40px;
}

.card-edit-description-heading {
    margin-bottom: 15px;
}

.card-edit-due {
    margin-bottom: 40px;
}

.card-edit-description {
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.card-edit-form textarea {
    height: 60px;
}

.card-edit-btn {
    width: 10%;
}
