// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-container {
    padding-left: 5px;
    margin-right: 15px;
    margin-top: 15px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    border-style: outset;
    color: black;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-container-before {
    padding-left: 5px;
    margin-right: 15px;
    margin-top: 15px;
    background: #c6c6c6;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    // border-style: outset;
    color: #838383;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.card-container-before:hover{
    background: #fff;
    color: black;
}

.card-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-form-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    margin-top: 15px;
    background: #fff;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    border-style: outset;
    // padding-top: 5px;
}

.card-form {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
}

.card-form-input {
    font-size: 15px;
    padding-left: 5px;
    height: 30px;
}

.card-form-btn {
    margin-top: 7px;
    width: 85px;
    cursor: pointer;
}

.card-edit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-edit-container{
    margin-top: 35px;
}

.card-edit-form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 820px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background: #fafafa;
    border-bottom: 0px;
}

.card-edit-name {
    margin-bottom: 25px;
}

.card-edit-name input {
    font-size: 18.72px;
    border: 0px;
}

.card-edit-description-heading {
    margin-bottom: 15px;
}

.card-edit-due {
    margin-bottom: 15px;
}

.card-edit-description {
    font-size: 15px;
    margin-bottom: 25px;
    padding-left: 5px;
}

.card-edit-form textarea {
    height: 60px;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.card-edit-btns {
    display: flex;
}

.card-edit-btn {
    width: 75px;
    cursor: pointer;
}

.card-delete-btn {
    width: 75px;
    margin-left: 15px;
    cursor: pointer;
}

.card-edit-due-input {
    margin-bottom: 25px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
}

.card-due-display {
    font-size: 13px;
    margin-top: 5px;
    border: 1px #333333 solid;
    width: 115px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffea00;
    color:#333333;
    font-weight: bolder;
    border-radius: 5px;
}

.card-form-btns-x button {
    height: 27px;
    font-size: 21px;
    margin-left: 20px;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.card-form-btns-x button:hover {
    color: #909090;
}