// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15px;

}

.comment-container {
    // border: 1px black solid;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px
}

.comment-author {
    margin-bottom: 5px;
}

.comment-body {
    border: 3px #989898 solid;
    background: #fff;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    padding-left: 10px;
    border-style: outset;
    border-radius: 5px;
    padding: 10px 0;
    padding-left: 7px;
}

.comment-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    height: 60px;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 25px;
}

.comment-form-btn {
    width: 10%;
}

.comment-outer-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    background: #fafafa;
    border-radius: 5px;
    border-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.comment-delete-btn {
    width: 75px;
    margin-left: 50px;
    margin-top: 12px;
}
