// Place all the styles related to the api/lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .list-display-container {
//     background-image: url("https://source.unsplash.com/daily?ocean");
//     height: 100vh;
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding-top: 15px;
//     overflow-x: auto;
//     position: fixed;
//     width: 100vw;
//     overflow-x: auto;
//     overflow-y: auto;
//     padding-bottom: 60px
// }

.list-board-title {
    // position: sticky;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    background: #f8f8f8;
    opacity: 0.9;
    border: 1px #d2d2d2 solid;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-left: 25px;
    // margin-bottom: 15px;
    padding-left: 10px;
    font-size: 17px;
    // padding-bottom: 60px;
}

.lists-cont {
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: auto;
    height: 100vh;
    padding-left: 25px;
    // margin-left: 25px;
    // margin-right: 5px;
     background-image: url("https://source.unsplash.com/daily?ocean");
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 15px;
     position: fixed;
     width: 100vw;
     padding-bottom: 150px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 30px;
    width: 300px;
    height: auto;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: #f2f2f2;
    border: 1px #d2d2d2 solid;
    opacity: 0.9;
    border-radius: 5px;
    overflow: hidden;
}

.list-top-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.list-top-content:first-child {
    font-size: 17px;
}

.list-title {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 200px;
    height: 20px;
}

.list-delete-btn {
    border: black 1px solid;
    border-radius: 5px;
    margin-right: 10px;
    background: #ff6262;
    color: #fff;
    font-size: 15px;
    padding: 2px 6px;
    cursor: pointer;
}

.list-top-content button:focus {
    outline: 0;
}

.list-form-cont {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;
    opacity: 0.9;
    border: 1px black solid;
    // border-style: outset;
    width: 300px;
    height: 100px;
    border-radius: 7px;
    padding-bottom: 6px;
}

.list-form-cont-before {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: #909090;
    opacity: 0.9;
    border: 1px #d5d5d5, solid;
    border-style: outset;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

.list-form-cont-before:hover {
    background: #b6b6b6;
}

.list-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-form-input {
    height: 25px;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 5px;
}

.list-form-btn {
    margin-top: 15px;
    width: 75px;
    cursor: pointer;
}

.list-edit-form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.list-edit-form:last-child {
    margin-right: 10px;
    font-size: 15px;
}

.list-edit-input-field {
    padding-left: 5px;
    font-size: 15px;
}

.list-edit-btn {
    cursor: pointer;
}

.list-board-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0079bf;
    height: 55px;
}

.list-form-btns-x button {
    height: 27px;
    font-size: 21px;
    margin-left: 20px;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.list-form-btns-x button:hover {
    color: #909090;
}
