// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-cont {
    background: #f2f2f2;
    height: 100vh;
}

.session-form {
    display: flex;
    flex-direction: column;

    background: #fff;

    width: 30%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 35px;

    border: 1px solid black;
}

.session-form-title {
    margin: 0 auto;
    margin-top: 25px;
}

.session-form input {
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
}

.session-form input {
    margin-top: 20px;
}
