// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-cont {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #fff;

    width: 30%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 35px;

    border: 1px solid #f2f2f2;
    box-shadow: #808080 4px 5px;
    border-radius: 5px;
    
}

.session-form-title {
    margin: 0 auto;
    margin-top: 25px;
    color: #585858;
}

.session-form input {
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    width: 350px;
}

.session-form input {
    margin-top: 20px;
}

.session-form-alt {
    color: #0079bf;
    margin-top: 20px;
    text-decoration: underline;
}
