.hero {
    /* background: #0079bf; */
    /* background-size: contain; */
}

.home-logo {
    width: 9%;
}

.dorello-white {
    font-family: 'Pacifico', cursive;
    color: #fff;
    padding-left: 30px;
}

.dorello-black {
    font-family: 'Pacifico', cursive;
    color: #333;
    padding-left: 30px;
}

.dorello-link {
    text-decoration: none;
}
/* Navbar */
.navbar {
    background: #0079bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 20px;
    height: 60px;
}

.navbar-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logged {
    background: #0079bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar-logged p {
    padding-right: 15px;
    font-size: 15px
}

.navbar-logged button {
    margin-right: 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.navbar-logged button:focus{
    outline: 0;
}

.login-btn:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.navbar-auth li {
    padding-right: 7px;
}

.left-buttons {
    margin-left: 25px;
}

.home-btn {
    border: 1px black solid;
    background: #87cefa;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.home-btn:hover {
    background: #197195;
}

.right-profile {
    display: flex;
    align-items: center;
}

.boards-btn {
    border: 1px black solid;
    background: #87cefa;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 100px;
}

.pop-boards {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 300px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pop-boards-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pop-boards-close-btn {
    background-color: none;
    border: none;
}

.pop-boards ul {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
}

.pop-boards button {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    border: 1px black solid;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    text-align: left;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    background: #909090;
    color: #fff;
    width: 265px;
}

.pop-boards button:hover {
    background: #b6b6b6;
}

.pop-boards button:last-child {
    margin: 0;
}

.pop-boards-btn {
    margin-bottom: 5px;
}

.pop-boards-head h3 {
    font-size: 17px;
}

.profile-btn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #87cefa;
}

.profile-pic-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.profile-menu-cont {
    display: flex;
    justify-content: flex-end;
}

.profile-menu {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 225px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}

.profile-menu h4 {
    padding-left: 10px;
    margin-bottom: 7px;
}

.profile-menu a {
    padding-left: 10px;
    margin-bottom: 7px;
    /* border: 1px black solid; */
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 35px;
    overflow: hidden;
}

.profile-menu a:hover {
    background-color: #ededed;
}

.profile-menu button {
    background: none;
    outline: 0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    /* margin-bottom: 7px; */
    height: 35px;
}

.profile-menu button:hover {
    background-color: #ededed;
}
/* Home Page */

.homepage {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #0079bf,rgb(78, 107, 195));
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
} 

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}

.content-text h1 {
    font-size: 45px;
    font-weight: bolder;
}

.content-text p {
    font-size: 27px;
    margin-top: 10px;
}

.content-img {
    width: 100%
}

.content-img img{
    width: 100%;
}

@media(max-width: 1050px) {
    .content-description {
        display: flex;
        flex-direction: column;
    }
}

/* Sub Content 1 */

.sub-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* padding-right: 50px; */
}

.left-sub-content-1 {
    width: 750px;
    margin-left: 100px;
    margin-right: 50px;
}

.left-sub-content-1 h1 {
    font-size: 45px;
}

.left-sub-content-1 p {
    font-size: 27px;
}

.right-sub-content-1 {
    margin-right: 50px;
}

.right-sub-content-1 img {
    width: 710px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px #e2e1e1 solid;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.right-sub-content-1 img:hover {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

/* Sub Content 2 */

.sub-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.left-sub-content-2 {
    margin-right: 50px;
}

.left-sub-content-2 img {
    width: 710px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px #e2e1e1 solid;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.left-sub-content-2 img:hover {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.right-sub-content-2 {
    width: 750px;
}

.right-sub-content-2 h1 {
    font-size: 45px;
}

.right-sub-content-2 p {
    font-size: 27px;
}

/* Sub Content 3 */
.sub-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.left-sub-content-3 {
    width: 750px;
    margin-left: 100px;
    margin-right: 50px;
}

.left-sub-content-3 h1 {
    font-size: 45px;
}

.left-sub-content-3 p {
    font-size: 27px;
}

.right-sub-content-3 {
    margin-right: 50px;
}

.right-sub-content-3 img {
    width: 710px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px #e2e1e1 solid;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.right-sub-content-3 img:hover {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}