.hero {
    background: #0079bf;
    background-size: cover;
}

.home-logo {
    width: 9%;
}

.dorello-white {
    font-family: 'Pacifico', cursive;
    color: #fff;
    padding-left: 30px;
}

.dorello-black {
    font-family: 'Pacifico', cursive;
    color: #333;
    padding-left: 30px;
}

.dorello-link {
    text-decoration: none;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 20px;
    height: 60px;
}

.navbar-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar-logged p {
    padding-right: 15px;
    font-size: 15px
}

.navbar-logged button {
    margin-right: 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.navbar-logged button:focus{
    outline: 0;
}

.login-btn:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.navbar-auth li {
    padding-right: 7px;
}

.left-buttons {
    margin-left: 25px;
}

.home-btn {
    border: 1px black solid;
    background: #87cefa;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.home-btn:hover {
    background: #197195;
}

.right-profile {
    display: flex;
    align-items: center;
}

.boards-btn {
    border: 1px black solid;
    background: #87cefa;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 100px;
}

.pop-boards {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 300px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pop-boards-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pop-boards-close-btn {
    background-color: none;
    border: none;
}

.pop-boards ul {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
}

.pop-boards button {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    border: 1px black solid;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    text-align: left;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    background: #909090;
    color: #fff;
    width: 265px;
}

.pop-boards button:hover {
    background: #b6b6b6;
}

.pop-boards button:last-child {
    margin: 0;
}

.pop-boards-btn {
    margin-bottom: 5px;
}

.pop-boards h4 {
    padding-left: 5px;
    margin-top: 20px;
}

.profile-btn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #87cefa;
}

.profile-menu-cont {
    display: flex;
    justify-content: flex-end;
}

.profile-menu {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 300px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}

.profile-menu h4 {
    padding-left: 10px;
    margin-bottom: 7px;
}

.profile-menu a {
    padding-left: 10px;
    margin-bottom: 7px;
    /* border: 1px black solid; */
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 35px;
    overflow: hidden;
}

.profile-menu a:hover {
    background-color: #ededed;
}

.profile-menu a:last-child {
    margin-bottom: 0;
}

/* Content */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0079bf;
    width: 100vw;
    /* border: 1px black solid; */
    margin: 0 auto;
}

.content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
} 

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* border: 1px white dotted; */
    padding-right: 50px;
    padding-left: 50px;
}

.content-text h1 {
    font-size: 45px;
    font-weight: bolder;
}

.content-text p {
    font-size: 27px;
    margin-top: 10px;
}

.content-img {
    width: 100%
}

.content-img img{
    width: 100%;
}

@media(max-width: 1050px) {
    .content-description {
        display: flex;
        flex-direction: column;
    }
}