* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
    height: 1000000px; 
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    width: 100%;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

