.text-white {
    color: #fff;
    text-decoration: none;
}

/* .text-black {
    color: #fff;
} */

.text-blue {
    color: #0079bf;
}

.btn-white {
    background-color: #fff;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 7px;
}

/* .btn-green {
    background-color: #46B724;
    color: #fff;
} */