.text-white {
    color: #fff;
    text-decoration: none;
}

/* .text-black {
    color: #fff;
} */

.text-blue {
    color: #0079bf;
}

.btn-white {
    background-color: #fff;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 7px;
}

.btn-green {
    background-color: #46B724;
    color: #fff;
    border-radius: 5px;
    border-color: #c4c4c4;
    padding: 3px 5px;
    font-size: 15px;
}

.btn-red {
    background-color: #ff6262;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 15px;
    border: 1px #525252 solid;
}

.btn-blue {
    background-color: #0079bf;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 16px;
    border: 1px #525252 solid;
}